@page
@model AccessDeniedModel
@inject IHtmlLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = @Localizer["Access denied"];
}
<div class="mainImage-account"></div>
<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@Localizer["You do not have access to this resource."]</p>
</header>
