@page
@model LockoutModel
@inject  IHtmlLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = @Localizer["Locked out"];
}
    <div class="mainImage-account"></div>
<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@Localizer["This account has been locked out, please try again later."]</p>
</header>
