@page
@model LogoutModel
@inject IHtmlLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] =Localizer ["Log out"];
}
    <div class="mainImage-account"></div>
<header>
    <h1>@ViewData["Title"]</h1>
    <p class="text-danger">@Localizer["You have successfully logged out of the application."]</p>
</header>