<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Exam</title>

    <link href="~/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <environment include="Development">
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/css/appStyles.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">       
        <link href="~/css/min/site.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>

</head>
<body>
    <div>
        <div class="mainImage"></div>
        <header>
            <partial name="_Nav" />
        </header>
        <div class="container">
            <partial name="_CookieConsentPartial" />
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2019 - Exam              
                @await Html.PartialAsync("_SelectLanguagePartial")
            </div>           
        </footer>
        <script src="~/libs/jquery/jquery.min.js"></script>
        <script src="~/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/libs/bootstrap/js/bootstrap.min.js"></script>
        <environment include="Development">
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="~/js/min/site.min.js" asp-append-version="true"></script>
        </environment>
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
