@model ExamContract.MainDbModels.Exam

@{
    ViewData["Title"] = Localizer["Edit"];
}

    <h1>@Localizer["Edit"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinStart" class="control-label"></label>
                <input asp-for="MinStart" class="form-control" />
                <span asp-validation-for="MinStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxStart" class="control-label"></label>
                <input asp-for="MaxStart" class="form-control" />
                <span asp-validation-for="MaxStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DurationMinutes" class="control-label"></label>
                <input asp-for="DurationMinutes" class="form-control" />
                <span asp-validation-for="DurationMinutes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxPoints" class="control-label"></label>
                <input asp-for="MaxPoints" class="form-control" />
                <span asp-validation-for="MaxPoints" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />        
            <div class="form-group">
                <input type="submit" value="@Localizer["Save"]" class="btn btn-primary btn-sm" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary btn-sm">@Localizer["Back to List"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
