@model IEnumerable<ExamContract.MainDbModels.Exam>

@{
    ViewData["Title"] = Localizer["Exams"];   
}

<h3>@ViewBag.Message</h3>
<div id="examsGrid">
    <partial name="_ExamsGrid" model="Model" />
</div>


@section scripts {
  
}