@model IEnumerable<ExamContract.MainDbModels.Exam>

@{
    ViewData["Title"] = Localizer["Exams"];
    int? questionId = ViewBag.QuestionId;
}

<h3>@ViewBag.Message</h3>
<div id="examsGrid">
    <partial name="_ExamsGrid" model="Model" />
</div>


@section scripts {
<script>
    let questionId = @questionId
    window.addEventListener('DOMContentLoaded', (event) => {
        toggleTr('#questions_@ViewBag.ExamId', '#arrow_@ViewBag.ExamId')
        if (questionId != null) {
            toggleTr('#answers_@ViewBag.QuestionId', '#arrowQuestions_@ViewBag.QuestionId')
        }
    });
    
</script>   
}