@model IEnumerable<ExamContract.TutorialModels.Tutorial>
@{
    ViewData["Title"] = Localizer["Tutorials"];
}

<div class="mainImage-index"></div>
<h3>@ViewBag.Message</h3>
<div>
    <partial name="_TutorialsGrid" model="Model" />
</div>

